@import "node_modules/modern-normalize/modern-normalize.css";
@import "reset.css";

/********************************************/
/* DESIGN SYSTEM */
/********************************************/
:root {
  font-size: 62.5%; /* Start with 10px as default relative font size assuming default browser font size of 16px*/

  /*****  COLORS (primary, secondary, accents and greys) *****/
  --clr-white: #fff;
  --clr-primary-500: #3a0ca3;
  --clr-secondary-500: #ff9105;
  --clr-gray-100: hsl(240, 8%, 97%);
  --clr-gray-200: hsl(260, 10%, 89%);
  --clr-gray-400: hsl(258, 7%, 73%);
  --clr-gray-500: hsl(256, 6%, 61%);
  --clr-gray-900: hsl(256, 6%, 15%);

  /***** TYPOGRAPHY *****/
  /* font weights */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-extrabold: 800;
  --fw-medium: 500;
  --fw-regular: 400;

  /* - Font sizes (px) */
  --fs-100: 1rem; /* 10px */
  --fs-200: 1.2rem; /* 12px */
  --fs-300: 1.4rem; /* 14px */
  --fs-400: 1.6rem; /* 16px */
  --fs-500: 1.8rem; /* 18px */
  --fs-600: 2rem; /* 20px */
  --fs-700: 2.4rem; /* 24px */
  --fs-800: 3rem; /* 30px */
  --fs-900: 3.6rem; /* 36px */
  --fs-1000: 4.4rem; /* 44px */
  --fs-1100: 5.2rem; /* 52px */
  --fs-1200: 6.2rem; /* 62px */
  --fs-1300: 7.4rem; /* 74px */
  --fs-1400: 8.6rem; /* 86px */
  --fs-1500: 9.8rem; /* 98px */

  /* letter spacing */
  /* line heights */

  /***** WHITESPACE *****/
  /* spacing system */
  --space-20: 0.2rem;
  --space-50: 0.4rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-600: 4.8rem;
  --space-800: 6.4rem;
  --space-1000: 8rem;
  --space-1200: 9.6rem;
  --space-1600: 12.8rem;

  /***** SHADOWS *****/

  /***** BORDER RADIUS *****/
}

/********************************************/
/* SPECIFIC STYLES */
/********************************************/
body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: var(--fs-400);
}

.iconify {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}

/* Overall page layout */
.container {
  height: 100dvh;
  display: grid;
  grid-template-columns: 30rem 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: var(--space-400);
}

main,
.header-container {
  display: contents;
}

.search-and-settings-container {
  grid-column: 2/-1;
}

.actions-container {
  grid-column: 2/-1;
}

.section-project {
  grid-column: 2;
}

aside {
  grid-column: 3;
}

/* Nav bar */
.nav-container {
  grid-column: 1;
  grid-row: 1/-1;
  padding: var(--space-400) 0 0 var(--space-200);
  color: var(--clr-white);
  background-color: var(--clr-primary-500);
  font-size: var(--fs-500);
  color: var(--clr-white);
}

.nav-container *:not(ul) {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-list > .nav-list {
  margin-top: var(--space-300);
}

.nav-item a {
  width: 100%;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  text-decoration: none;
  padding-block: var(--space-100);
  /* background-color: yellow; */
}

.nav-item a .iconify {
  flex-basis: var(--space-600);
}

.nav-title .iconify {
  width: 4.8rem;
  height: 4.8rem;
}

/* SEARCH AND SETTINGS CONTAINER */
.search-and-settings-container {
  padding: var(--space-300) 0 0;
  display: flex;
  gap: var(--space-200);
  align-items: center;
}

.search-container {
  border: none;
  display: flex;
  align-items: center;
  gap: var(--space-100);
  flex: 1;
  max-width: 75%;
}

input[type="search"] {
  flex: 1;
  appearance: none;
  border: var(--clr-gray-100);
  border-radius: 1000px;
  background-color: var(--clr-gray-100);
  padding: var(--space-50) var(--space-200);
}

input[type="search"]:focus {
  outline-color: var(--clr-primary-500);
  box-shadow: 0 0.5em 3rem 0 hsla(0, 0%, 0%, 0.101);
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-container .iconify {
  flex-shrink: 0;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--space-200);
  margin-left: auto;
  margin-right: var(--space-400);
}

.list-item:has(.iconify) {
  transform: translateY(0.2rem);
}

.profile {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

.img-profile {
  width: 3.2rem;
  height: 3.2rem;
}

.list-item {
  flex-shrink: 0;
}

/********************************************/
/* REUSABLE COMPONENTS */
/********************************************/
.btn {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/********************************************/
/* UTILITY / HELPER CLASSES */
/********************************************/
.heading-primary {
  font-size: var(--fs-700);
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: var(--space-400);
}
